html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body,
main {
  background-color: #68cdd5; }

header {
  position: relative;
  height: 1.32812rem;
  width: 100%;
  line-height: 1.3125rem;
  background-color: #22292c;
  color: white; }

.head-back {
  width: 1.5625rem;
  height: 1.32812rem;
  padding-left: 0.3125rem;
  text-align: center; }
  .head-back .icon-back {
    width: 0.3125rem;
    height: 1.32812rem;
    line-height: 1.32812rem; }
  .head-back .icon-back::after {
    content: '';
    display: inline-block;
    width: 0.3125rem;
    height: 0.3125rem;
    vertical-align: middle;
    transform: rotate(45deg);
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff; }

.head-title {
  position: absolute;
  top: 0;
  left: 1.5625rem;
  right: 1.5625rem;
  line-height: 1.32812rem;
  font-size: 32px;
  text-align: center; }

.head-more {
  float: right;
  margin-top: 0.625rem;
  margin-right: 0.23438rem; }

.arrow {
  margin-top: 0.3125rem;
  margin-left: 0.3125rem; }

p {
  color: white;
  margin-top: 3.59375rem;
  margin-bottom: 2.65625rem;
  padding: 0 1.40625rem;
  font-size: 30px;
  line-height: 1.6em; }

main {
  background-image: url("../images/task3_logo.png");
  background-repeat: no-repeat;
  background-position: 3.125rem 1.79688rem; }
  main footer {
    margin: 0 1.875rem;
    color: white; }
    main footer figure {
      display: inline-block; }
      main footer figure img {
        margin-left: 0.23438rem;
        margin-bottom: 0.23438rem; }
    main footer figure.fig-right {
      float: right; }
